*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
html,
body{
	height: 100%;
}
body{
	background-color: #333;
	font-family: 'Ubuntu', sans-serif;
}
#container{
	background: -webkit-linear-gradient(top, #8adcf7 0%, #bbe8fd 100%);
	background: 				linear-gradient(to bottom, #8adcf7 0%, #bbe8fd 100%);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -300px;
	width: 800px;
	height: 600px;
	border: 1px solid #333;
	overflow: hidden;
}
#startFlag{
	position: absolute;
	top: -10px;
	left: -10px;
}
#startFlag:checked + #start{
	opacity: 0;
	-webkit-pointer-events: none;
					pointer-events: none;
}
.window{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 999;	
	/*-----------------property-duration-timing-function-delay---*/
	/*--duration: 规定完成过度效果的时间,始终需要设置--*/
	-webkit-transition: opacity 1s;
		 -moz-transition: opacity 1s;
			 -o-transition: opacity 1s;
					transition: opacity 1s;
}
.window h1,
.window h2,
.window p{
	color: #fff;
	text-align: center;
}
.window h2{
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 3em;
}
.window p{
	font-size: 1.2em;
	margin-top: 50px;
}
.window p.meta{
	opacity: 0.7;
	margin-top: 10px;
}

.window h1{
	line-height: 50px;
	margin-top: 100px;
	letter-spacing: 4px;
}
#end{
	opacity: 0;
	-webkit-pointer-events: none;
					pointer-events: none;
}
.window .btn-group{
	margin: 80px auto;
	width: 100px;
	height: 94px;
	overflow: hidden;
	position: relative;
}
.window .gopher{
	position: relative;
	top: 6px;
	left: 0;
	margin: auto;
}
.window label{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;	
	width: 100%;
	height: 40px;
	background-color: #51a70d;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border-bottom: 4px solid #62b210;
	border-radius: 4px;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}
#map{
	position: absolute;
	bottom: 0;
	left: -800px;
	width: 2400px;
	height: 1000px;
	-webkit-transform: perspective(800px) rotateX(45deg);
		 -moz-transform: perspective(800px) rotateX(45deg);
			-ms-transform: perspective(800px) rotateX(45deg);
			 -o-transform: perspective(800px) rotateX(45deg);
					transform: perspective(800px) rotateX(45deg);
	-webkit-transform-origin: center bottom;
		 -moz-transform-origin: center bottom;
			-ms-transform-origin: center bottom;
			 -o-transform-origin: center bottom;
					transform-origin: center bottom;
}
#map .map{
	width: 4%;
	height: 100%;
	float: left;	
}
#map .map:nth-child(even){
	background: #62b210;
}
#map .map:nth-child(odd){
	background: #51a70d;
}
.hole{
	position: absolute;
	left: 0;
	top:220px;
	width: 68px;
	height: 100px;
	background: -webkit-linear-gradient(left, #2a7d2f 0%, #78fc73 25%, #78fc73 35%, #15861f 95%);
	background:   		 -linear-gradient(to right, #2a7d2f 0%, #78fc73 25%, #78fc73 35%, #15861f 95%);
	box-shadow: 0px 1px 5px 0px rgba(34, 34, 34, 0.4);
}
.hole:before{
	display: block;
	content: '';
	position: absolute;
	width: 84px;
	height: 24px;
	margin-left: -8px;
	top: -23px;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.3) 2px, rgba(255, 255, 255, 0.3) 3px, rgba(255, 255, 255, 0) 4px),
							-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 3px, rgba(255, 255, 255, 0.2) 5px, rgba(255, 255, 255, 0) 6px),
							-webkit-linear-gradient(left, #2a7d2f 0%, #78fc73 25%, #78fc73 35%, #113e15 95%);
	background: 				linear-gradient(to bottom, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.3) 2px, rgba(255, 255, 255, 0.3) 3px, rgba(255, 255, 255, 0) 4px),
											linear-gradient(to top, rgba(0, 0, 0, 0.4) 3px, rgba(255, 255, 255, 0.2) 5px, rgba(255, 255, 255, 0) 6px),
											linear-gradient(to right, #2a7d2f 0%, #78fc73 25%, #78fc73 35%, #113e15 95%);
  border-radius: 4px;
}

.gopher{
	z-index: 0;
	position: absolute;
	display: block;
	top: 220px;
	left: 8px;
	width: 54px;
	height: 100px;
	border-radius: 20px;
	background: #e3c498;	
	background-image: -webkit-radial-gradient(18px 23px, circle, #000 4%, rgba(255, 255, 255, 0) 5%),
							-webkit-radial-gradient(15px 20px, circle, #fff 9%, rgba(255, 255, 255, 0) 10%),
							-webkit-radial-gradient(35px 23px, circle, #000 4%, rgba(255, 255, 255, 0) 5%),
							-webkit-radial-gradient(38px 20px, circle, #fff 9%, rgba(255, 255, 255, 0) 10%),
							-webkit-radial-gradient(center 36px, circle, #000 7%, rgba(255, 255, 255, 0) 7%),
							-webkit-radial-gradient(center 48px, circle, #fff 18%, rgba(255, 255, 255, 0) 20%);
	background-image: radial-gradient(circle at 18px 23px, circle, #000 4%, rgba(255, 255, 255, 0) 5%),
										radial-gradient(circle at 15px 20px, circle, #fff 9%, rgba(255, 255, 255, 0) 10%),
										radial-gradient(circle at 5px 23px, circle, #000 4%, rgba(255, 255, 255, 0) 5%),
										radial-gradient(circle at 38px 20px, circle, #fff 9%, rgba(255, 255, 255, 0) 10%),
										radial-gradient(circle at center 36px, circle, #000 7%, rgba(255, 255, 255, 0) 7%),
										radial-gradient(circle at center 48px, circle, #fff 18%, rgba(255, 255, 255, 0) 20%);
	-webkit-appearance: button;
		 -moz-appearance: button;
					appearence: button;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
}
.gopher-not-button{
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
}
.gopher:before,
.gopher:after{
	z-index: -1;
	content: '';
	left: -5px;
	top: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	background: #e3c498;
	background-image: -webkit-radial-gradient(center, circle, #000 33%, rgba(255, 255, 255, 0) 40%);
	background-image:	radial-gradient(circle at center, circle, #000 33%, rgba(255, 255, 255, 0) 400%);
}
.gopher:after{
	left: auto;
	right: -5px;	
}
.group{
	position: absolute;
	z-index: 1;
}
.group:nth-child(1){
	left: 31px; 
	top: 51px;
}
.group:nth-child(2){
	left: 148px;
	top: 188px;
}
.group:nth-child(3){
	left: 286px;
	top: 154px;
}
.group:nth-child(4){
	left: 444px;
	top: 71px;
}
.group:nth-child(5){
	left: 584px;
	top:	203px; 
}
.group:nth-child(6){
	left: 700px;
	top: 130px;
}
.gopher:checked{
	-webkit-animation-name: none;
					animation-name: none;
	-webkit-pointer-events: none;
					pointer-events: none;
	opacity: 0;
	overflow: hidden;
}

.gopher1{
	-webkit-animation-name: gopher1;
					animation-name: gopher1;
	-webkit-animation-delay: 2s;
					animation-delay: 2s;	
	-webkit-animation-duration: 10s;
					animation-duration: 10s;
}
@-webkit-keyframes gopher1{
	0%{
		top: 220px;
	}
	10%{
		top: 150px;
	}
	15%{
		top: 150px;
	}
	20%{
		top: 220px;
	}
	100%{
		top: 220px;
	}
}
@keyframes gopher1{
	0%{
		top: 220px;
	}
	10%{
		top: 150px;
	}
	15%{
		top: 150px;
	}
	20%{
		top: 220px;
	}
	100%{
		top: 220px;
	}
}
.gopher2{
	-webkit-animation-name: gopher2;
					animation-name: gopher2;
	-webkit-animation-delay: 2s;
					animation-delay: 2s;
	-webkit-animation-duration: 10s;
					animation-duration: 10s;
}
@-webkit-keyframes gopher2{
	0%{
		top: 220px;
	}
	30%{
		top: 220px;
	}
	60%{
		top: 150px;
	}
	66%{
		top: 150px;
	}
	90%{
		top: 220px;
	}
}
@keyframes gopher2{
	0%{
		top: 220px;
	}
	30%{
		top: 220px;
	}
	60%{
		top: 150px;
	}
	66%{
		top: 150px;
	}
	90%{
		top: 220px;
	}
}
.gopher3{
	-webkit-animation-name: gopher3;
					animation-name: gopher3;
	-webkit-animation-delay: 1s;
					animation-delay: 1s;
	-webkit-animation-duration: 8s;
					animation-duration: 8s;
}
@-webkit-keyframes gopher3{
	0%{
		top: 220px;
	}
	5%{
		top: 220px;
	}
	15%{
		top: 150px;
	}
	25%{
		top: 220px;
	}
	100%{
		top: 220px;
	}
}
@keyframes gopher3{
	0%{
		top: 220px;
	}
	5%{
		top: 220px;
	}
	15%{
		top: 150px;
	}
	25%{
		top: 220px;
	}
	100%{
		top: 220px;
	}
}
.gopher4{
	-webkit-animation-name: gopher4;
					animation-name: gopher4;
	-webkit-animation-delay: 1s;
					animation-delay: 1s;
	-webkit-animation-duration: 8s;
					animation-duration: 8s;
}
@-webkit-keyframes gopher4{
	0%{
		top: 220px;
	}
	50%{
		top: 220px;
	}
	65%{
		top: 150px;
	}
	80%{
		top: 220px;
	}
}
@keyframes gopher4{
	0%{
		top: 220px;
	}
	50%{
		top: 220px;
	}
	65%{
		top: 150px;
	}
	80%{
		top: 220px;
	}
}
.gopher5{
	-webkit-animation-name: gopher5;
					animation-name: gopher5;
	-webkit-animation-delay: 2s;
					animation-delay: 2s;
	-webkit-animation-duration: 6s;
					animation-duration: 6s;
}
@-webkit-keyframes gopher5{
	0%{
		top: 220px;
	}
	20%{
		top: 220px;
	}
	25%{
		top: 150px;
	}
	35%{
		top: 220px;
	}
}
@keyframes gopher5{
	0%{
		top: 220px;
	}
	20%{
		top: 220px;
	}
	25%{
		top: 150px;
	}
	35%{
		top: 220px;
	}
}
.gopher6{
	-webkit-animation-name: gopher6;
					animation-name: gopher6;
	-webkit-animation-delay: 4s;
					animation-delay: 4s;
	-webkit-animation-duration: 6s;
					animation-duration: 6s;
}
@-webkit-keyframes gopher6{
	0%{
		top: 220px;
	}
	70%{
		top: 220px;
	}
	90%{
		top: 150px;
	}
	100%{
		top: 220px;
	}
}
@keyframes gopher6{
	0%{
		top: 220px;
	}
	70%{
		top: 220px;
	}
	90%{
		top: 150px;
	}
	100%{
		top: 220px;
	}
}
.gopher7{
	-webkit-animation-name: gopher7;
					animation-name: gopher7;
	-webkit-animation-delay: 1s;
					animation-delay: 1s;
	-webkit-animation-duration: 8s;
					animation-duration: 8s;
}
@-webkit-keyframes gopher7{
	0%{
		top: 220px;
	}
	15%{
		top: 220px;
	}
	30%{
		top: 150px;
	}
	40%{
		top: 220px;
	}
}
@keyframes gopher7{
	0%{
		top: 220px;
	}
	15%{
		top: 220px;
	}
	30%{
		top: 150px;
	}
	40%{
		top: 220px;
	}
}
.gopher8{
	-webkit-animation-name: gopher8;
					animation-name: gopher8;
	-webkit-animation-delay: 2s;
					animation-delay: 2s;
	-webkit-animation-duration: 8s;
					animation-duration: 8s;
}
@-webkit-keyframes gopher8{
	0%{
		top: 220px;
	}
	55%{
		top: 220px;
	}
	60%{
		top: 150px;
	}
	80%{
		top: 220px;
	}
}
@keyframes gopher8{
	0%{
		top: 220px;
	}
	55%{
		top: 220px;
	}
	60%{
		top: 150px;
	}
	80%{
		top: 220px;
	}
}
.gopher9{
	-webkit-animation-name: gopher9;
					animation-name: gopher9;
	-webkit-animation-delay: 0s;
					animation-delay: 0s;
	-webkit-animation-duration: 10s;
					animation-duration: 10s;
}
@-webkit-keyframes gopher9{
	0%{
		top: 220px;
	}
	10%{
		top: 220px;
	}
	20%{
		top: 150px;
	}
	36%{
		top: 220px;
	}
}
@keyframes gopher6{
	0%{
		top: 220px;
	}
	10%{
		top: 220px;
	}
	20%{
		top: 150px;
	}
	36%{
		top: 220px;
	}
}
.gopher10{
	-webkit-animation-name: gopher10;
					animation-name: gopher10;
	-webkit-animation-delay: 4s;
					animation-delay: 4s;
	-webkit-animation-duration: 10s;
					animation-duration: 10s;
}
@-webkit-keyframes gopher10{
	0%{
		top: 220px;
	}
	10%{
		top: 220px;
	}
	30%{
		top: 150px;
	}
	40%{
		top: 220px;
	}
}
@keyframes gopher10{
	0%{
		top: 220px;
	}
	10%{
		top: 220px;
	}
	30%{
		top: 150px;
	}
	40%{
		top: 220px;
	}
}
.gopher11{
	-webkit-animation-name: gopher11;
					animation-name: gopher11;
	-webkit-animation-delay: 1s;
					animation-delay: 1s;
	-webkit-animation-duration: 7s;
					animation-duration: 7s;
}
@-webkit-keyframes gopher11{
	0%{
		top: 220px;
	}
	15%{
		top: 220px;
	}
	24%{
		top: 150px;
	}
	30%{
		top: 220px;
	}
}
@keyframes gopher11{
	0%{
		top: 220px;
	}
	15%{
		top: 220px;
	}
	24%{
		top: 150px;
	}
	30%{
		top: 220px;
	}
}
.gopher12{
	-webkit-animation-name: gopher12;
					animation-name: gopher12;
	-webkit-animation-delay: 0s;
					animation-delay: 0s;
	-webkit-animation-duration: 7s;
					animation-duration: 7s;
}
@-webkit-keyframes gopher6{
	0%{
		top: 220px;
	}
	80%{
		top: 220px;
	}
	87%{
		top: 150px;
	}
	94%{
		top: 220px;
	}
}
@-webkit-keyframes gopher6{
	0%{
		top: 220px;
	}
	80%{
		top: 220px;
	}
	87%{
		top: 150px;
	}
	94%{
		top: 220px;
	}
}
.points{
	-webkit-transition: top 1s;
					transition: top 1s;
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
	position: absolute;
	top: -100px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	height: 48px;
	background: rgba(0, 0, 0, 0.2);
	border: 4px solid #fff;
	color: #fff;
	border-radius: 4px;
}
#startFlag:checked ~ .points{
	top: 20px;
}
.points .points-viewport{
	overflow: hidden;
	height: 40px;
	width: 100%;
}
.points .points-list{
	position: relative;
	top: -480px;
}
.points input{
	display: block;
	height: 40px;
	-webkit-transition: 1s;
					transition: 1s;
}
.points input:checked{
	height: 0;
}
.points ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.points li{
	display: block;
	height: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	cursor: default;
}

.time-wrapper{
	position: absolute;
	left: -150px;
	top: 20px;
	-webkit-transition: 1s;
					transition: 1s;
}
.time-wrapper p{
	color: #fff;
	line-height: 24px;
}
.time{
	border: 2px  solid #fff;
	width: 140px;
	height: 25px;
}
.time .progress{
	height: 21px;
	width: 0;
}
#startFlag:checked ~ .time-wrapper .progress{
	-webkit-animation: progress 15s linear 0s forwards;
					animation: progress 15s linear 0s forwards;
}
#startFlag:checked ~ #end{
	-webkit-animation: end 16s linear 0s forwards;
					animation: end 16s linear 0s forwards;
}
#startFlag:checked ~ .time-wrapper{
	left: 20px;
}
@-webkit-keyframes progress{
	from{
		width: 0;
		background: #0f0;
	}
	to{
		width: 136px;
		background: #f00;
	}
}
@keyframes progress{
	from{
		width: 0;
		background: #0f0;
	}
	to{
		width: 136px;
		background: #f00;
	}
}
#end{
	top: -800px;
	opacity: 1;
	display: block;
	border-bottom: 2px solid #fff;
}
#end .gopher{
	position: absolute;
	left: 50%;
	top: auto;
	margin-left: -30px;
	bottom: -54px;
}
@-webkit-keyframes end{
	from{
		top: -800px;
	}
	95%{
		top: -800px;
	}
	to{
		top: 0;
	}
}
@keyframes end{
	from{
		top: -800px;
	}
	95%{
		top: -800px;
	}
	to{
		top: 0;
	}
}
